<!DOCTYPE html>
<html lang="en">

<head>
    <title>NL - Developer | Mauricio Núñez Lagos</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Mauricio Núñez Lagos, ingeniero de software desarrollo backend y ciberseguridad. Explora mis proyectos y certificaciones.">
    <meta name="keywords" content="Mauricio Núñez, Software Engineer, Desarrollo Backend, Ciberseguridad, Proyectos, Certificaciones">
    <meta name="author" content="Mauricio Núñez Lagos">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="NL - Developer | Mauricio Núñez Lagos">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://tu-sitio-web.com">
    <meta property="og:image" content="../public/images/tu-imagen.jpg">
    <meta property="og:description" content="Perfil de Mauricio Núñez Lagos, ingeniero de software, experto en desarrollo backend y ciberseguridad.">
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tuTwitterHandle">
    <meta name="twitter:title" content="NL - Developer | Mauricio Núñez Lagos">
    <meta name="twitter:description" content="Explora mis proyectos y certificaciones en el mundo del desarrollo de software.">
    <meta name="twitter:image" content="../public/images/tu-imagen.jpg">

    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/font/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/aos.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="icon" href="../public/images/favicon.ico" type="image/x-icon">
</head>
<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="index.html">N L </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                     <li class="nav-item">
                        <a href="#" class="nav-link smoothScroll" id="back-to-main-1"><strong>Back to main page</strong></a>
                    </li>
                    <script>
                        document.getElementById('back-to-main-1').addEventListener('click', function(event) {
                            event.preventDefault(); // Prevenir la acción por defecto del enlace
                            window.location.href = '../views/index.html'; // Redirigir a la nueva URL
                        });
                    </script>
 
                </ul>
            </div>

        </div>
    </nav>


    <!-- HERO -->
    <section class="hero d-flex flex-column justify-content-center align-items-center" id="home">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto col-12">
                    <div class="hero-text mt-5 text-center">                         
                        <h1 class="text-white pb-5" data-aos="fade-up" data-aos-delay="350">Sección en construcción</h1>
                        <img src="../public/images/working/pngwing.com.png" class="img-fluid" style="width: 70%; height: auto;" alt="Descripción de la imagen" data-aos="fade-up" data-aos-delay="400">
                    </div>
                    <li class="nav-item text-center pt-5">
                        <a href="#" class="nav-link smoothScroll" id="back-to-main" data-aos="fade-up" data-aos-delay="450"><strong>Back to main page</strong></a>
                    </li>
 
                </div>
            </div>
        </div>
    </section>
    
    <script>
        document.getElementById('back-to-main').addEventListener('click', function(event) {
            event.preventDefault(); // Prevenir la acción por defecto del enlace
            window.location.href = '../views/index.html'; // Redirigir a la nueva URL
        });
    </script>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                    <div class="ml-auto col-lg-12 col-md-5">
                        <p class="copyright-text">Using By Mauricio Núñez L. &copy; 2024 
                    </div>
            </div>
        </div>
    </footer>



    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/aos.js"></script>
    <script src="../public/js/smoothscroll.js"></script>
    <script src="../public/js/custom.js"></script>

</body>
</html>


